<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.project.repository.ProjectMybatisMapper">
    <insert id="createProject" useGeneratedKeys="true" keyProperty="projectId" >
        insert into project (name, intro, created_at, start_date, end_date, modified_at, progress, publicyn, project_image)
        values (#{name}, #{intro}, #{createdAt}, #{startDate}, #{endDate}, #{createdAt}, 0, #{publicyn}, #{projectImage})
    </insert>

    <update id="updateProject">
        update project
        set name=#{name},
            intro=#{intro},
            start_date=#{startDate},
            end_date=#{endDate},
            modified_at=#{modifiedAt},
            publicyn=#{publicyn},
            project_image=#{projectImage}
        where project_id=#{projectId} and is_deleted is null
    </update>

    <select id="findProjectById" resultType="com.douzone.prosync.project.entity.Project">
        select * from project
        where project_id=#{projectId} and is_deleted is null

    </select>

    <select id="findAllProjects" resultType="com.douzone.prosync.project.entity.Project">
        SELECT *
        FROM project
        WHERE
            is_deleted IS NULL
    </select>

    <update id="deleteProject">
        update project
        set is_deleted=true
        where project_id=#{projectId} and is_deleted is null
    </update>

    <!-- 특정 멤버가 속한 프로젝트의 ID 목록 조회 -->
    <select id="findProjectIdsByMemberId" resultType="java.lang.Long">
        SELECT project_id
        FROM member_project
        WHERE member_id = #{memberId}
    </select>

    <!-- 특정 프로젝트 ID 목록을 기반으로 프로젝트 조회 (페이징 처리 포함) -->
    <select id="findProjectsByProjectIds" resultType="com.douzone.prosync.project.entity.Project">
        SELECT *
        FROM project
        WHERE project_id IN
        <foreach item="item" index="index" collection="projectIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        LIMIT #{offset}, #{size}
    </select>

    <!-- 해당 프로젝트 ID 목록에 대한 총 프로젝트 수 조회 -->
    <select id="countProjectsByProjectIds" resultType="int">
        SELECT COUNT(*)
        FROM project
        WHERE project_id IN
        <foreach item="item" index="index" collection="projectIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>