<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.file.repository.FileMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO file(size, path, created_at, file_name, modified_at)
        VALUES (#{size}, #{path}, now(), #{fileName}, now())
    </insert>

    <update id="delete">
        UPDATE file
        SET is_deleted = true, modified_at=now()
        WHERE file_id=#{fileId} and is_deleted IS NULL;
    </update>

    <select id="findFilesByTableInfo" resultType="FileResponseDto">
        SELECT f.file_id, f.size, f.path, f.created_at, f.file_name, f.is_deleted
        FROM file_info fi
        JOIN file f ON fi.file_id = f.file_id
        WHERE fi.table_name = #{tableName} AND fi.table_key = #{tableKey}
        AND f.is_deleted IS NULL
        ORDER BY f.file_id DESC;
    </select>

    <insert id="saveFileList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO file (size, path, created_at, file_name) VALUES
        <foreach collection="fileList" item="file" separator=",">
            (#{file.size}, #{file.path}, now(), #{file.fileName})
        </foreach>
    </insert>

    <!--  file info  -->
    <insert id="saveFileInfo" useGeneratedKeys="true" keyProperty="fileInfoId">
        INSERT INTO file_info(table_name, table_key, file_id)
        VALUES (#{tableName}, #{tableKey}, #{fileId})
    </insert>

    <insert id="saveFileInfoList" useGeneratedKeys="true" keyProperty="fileInfoId">
        INSERT INTO file_info(table_name, table_key, file_id) VALUES
        <foreach collection="fileInfoList" item="fileInfo" separator=",">
            (#{fileInfo.tableName}, #{fileInfo.tableKey}, #{fileInfo.fileId})
        </foreach>
    </insert>
    <update id="deleteFiles">
        UPDATE file f SET f.is_deleted = true
        JOIN file_info fi ON f.file_id = fi.file_id
        WHERE fi.table_name = #{tableName} AND fi.table_key = #{tableKey}
    </update>
</mapper>