<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.task.repository.TaskMybatisMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="task.taskId">
        insert into task(project_id, classification, title, detail, start_date, end_date, task_status, created_at, modified_at)
        values (#{projectId}, #{task.classification}, #{task.title}, #{task.detail}, #{task.startDate}, #{task.endDate}, #{task.taskStatus}, now(), now())
    </insert>
    <update id="update">
        update task
        set classification=#{classification},
            title=#{title},
            detail=#{detail},
            start_date=#{startDate},
            end_date=#{endDate},
            modified_at=now()
        where task_id=#{taskId} and is_deleted is null
    </update>
    <select id="findTasksWithPagination" resultType="Task">
        select * from task
         <where>
             <choose>
                 <when test="search != null and search != ''">
                    and project_id=#{projectId}
                    and is_deleted is null
                    and (title like concat('%', #{search}, '%')
                    or task_status like concat('%', #{search}, '%'))
                </when>
                 <otherwise>
                     and project_id=#{projectId}
                     and is_deleted is null
                 </otherwise>
             </choose>
        </where>
        order by task_id desc
        limit #{offset}, #{size}
    </select>
    <select id="findTaskCount" resultType="int">
        select count(*) from task
        <where>
            project_id=#{projectId}
            and is_deleted is null
            <if test="search != null and search != ''">
                and (title like concat('%', #{search}, '%')
                or task_status like concat('%', #{search}, '%'))
            </if>
        </where>
    </select>
    <select id="findExistsTask" resultType="int">
        select count(*) from task
        where task_id=#{taskId}
        and is_deleted is null
    </select>
</mapper>