<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.task.repository.TaskMybatisMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="task.taskId">
        insert into task(project_id, classification, title, detail, start_date, end_date, task_status_id, created_at, modified_at)
        values (#{projectId}, #{task.classification}, #{task.title}, #{task.detail}, #{task.startDate}, #{task.endDate}, #{task.taskStatusId}, #{task.createdAt}, #{task.createdAt})
    </insert>
    <update id="update">
        update task
        <set>
            modified_at=#{modifiedAt},
            <if test="classification != null">
                classification=#{classification},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="detail != null">
                detail=#{detail},
            </if>
            <if test="startDate != null">
                start_date=#{startDate},
            </if>
            <if test="endDate != null">
                end_date=#{endDate},
            </if>
            <if test="taskStatusId != null">
                task_status=#{taskStatusId},
            </if>
        </set>
        where task_id = #{taskId}
          and is_deleted is null
    </update>
    <select id="findTaskCount" resultType="int">
        select count(*) from task
        <where>
            project_id=#{projectId}
            and is_deleted is null
            <if test="search != null and search != ''">
                and (title like concat('%', #{search}, '%')
                or task_status like concat('%', #{search}, '%'))
            </if>
        </where>
    </select>
    <select id="findExistsTask" resultType="int">
        select count(*)
        from task
        where task_id = #{taskId}
          and is_deleted is null
    </select>
</mapper>