<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.comment.repository.CommentMapper">
    <insert id="createComment" useGeneratedKeys="true" keyProperty="commentId" >
        insert into comment (content, created_at, modified_at,member_id,task_id)
        values (#{content}, #{createdAt}, #{createdAt},#{memberId},#{taskId})
    </insert>

    <update id="updateComment" >
        update comment
        set content=#{content},
            modified_at=#{modifiedAt}
        where comment_id=#{commentId} and is_deleted is null
    </update>

    <update id="deleteComment">
        update comment
        set is_deleted=true
        where comment_id=#{commentId} and is_deleted is null
    </update>

    <select id="findAllComments" resultType="com.douzone.prosync.comment.entity.Comment">
        SELECT *
        FROM comment
        WHERE
            is_deleted is null
    </select>

    <select id="checkMember" resultType="com.douzone.prosync.comment.entity.Comment">
        select *
        from comment
        where member_id=#{memberId} and comment_id=#{commentId} and is_deleted is null
    </select>
    
    <select id="findAllComments">
        select *
        from comment
        where task_id=#{taskId} and is_deleted is null
    </select>

</mapper>