<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.task_status.repository.TaskStatusMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="taskStatus.taskStatusId">
        INSERT INTO task_status (task_status, color, project_id, created_at, modified_at, seq)
        VALUES (#{taskStatus.taskStatus}, #{taskStatus.color}, #{projectId}, #{taskStatus.createdAt},
                #{taskStatus.createdAt}, 0);
    </insert>
    <update id="update">
        UPDATE task_status
        <set>
            modified_at=#{modifiedAt},
            <if test="taskStatus != null">
                task_status=#{taskStatus},
            </if>
            <if test="color != null">
                color=#{color},
            </if>
            <if test="seq != null">
                seq=#{seq},
            </if>
        </set>
        WHERE task_status_id = #{taskStatusId}
          AND is_deleted IS NULL;
    </update>
    <select id="findExistsTaskStatus" resultType="int">
        SELECT count(*)
        FROM task_status
        WHERE task_status_id = #{taskStatusId}
          AND is_deleted IS NULL;
    </select>
    <select id="findTaskStatusByProject">
        SELECT task_status_id, color, task_status, seq
        FROM task_status
        <where>
            project_id=#{projectId} AND is_deleted IS NULL
            <if test="isActive">
                AND seq != 0
            </if>
        </where>
    </select>
</mapper>