<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.task.repository.TaskMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="task.taskId">
        INSERT INTO task(project_id, classification, title, detail, start_date, end_date, task_status_id, created_at, modified_at)
        VALUE (#{projectId}, #{task.classification}, #{task.title}, #{task.detail}, #{task.startDate}, #{task.endDate}, #{task.taskStatusId}, now(), now())
    </insert>

    <select id="findById">
        SELECT * FROM task t
        LEFT JOIN task_status ts
        ON t.task_status_id = ts.task_status_id
        WHERE t.task_id=#{taskId} and t.is_deleted IS NULL AND ts.is_deleted IS NULL
    </select>

    <update id="update">
        UPDATE task
        <set>
            modified_at=now(),
            <if test="classification != null">
                classification=#{classification},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="detail != null">
                detail=#{detail},
            </if>
            <if test="startDate != null">
                start_date=#{startDate},
            </if>
            <if test="endDate != null">
                end_date=#{endDate},
            </if>
            <if test="taskStatusId != null">
                task_status=#{taskStatusId},
            </if>
        </set>
        WHERE task_id = #{taskId}
          AND is_deleted IS NULL
    </update>

    <resultMap id="getTasksResponseMap" type="GetTasksResponse">
        <id property="taskId" column="task_id"/>
        <result property="classification" column="classification"/>
        <result property="title" column="title"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="taskStatusId" column="task_status_id"/>
        <result property="color" column="color"/>
        <result property="taskStatus" column="task_status"/>
        <result property="seq" column="seq"/>
    </resultMap>

    <select id="findTasks" resultMap="getTasksResponseMap">
        select t.task_id, t.classification, t.title, t.start_date, t.end_date, t.created_at, t.modified_at,
               ts.task_status_id, ts.color, ts.task_status, ts.seq from task t
        join task_status ts on ts.task_status_id = t.task_status_id
        <where>
            and t.project_id = #{projectId} and t.is_deleted is null
            <if test="search != null and search != ''">
                and (t.title like concat('%', #{search}, '%') or
                ts.task_status like concat('%', #{search}, '%'))
            </if>
           <if test="isActive != null and isActive == true">
               and not (ts.seq = 0 or ts.seq is null)
           </if>
        </where>
        order by t.task_id desc
    </select>

    <insert id="saveTaskMember">
        INSERT INTO member_project_task(member_project_id, task_id)
        VALUES
        <foreach collection="projectMemberIds" item="projectMemberId" separator=",">
            (#{projectMemberId}, #{taskId})
        </foreach>
    </insert>

    <delete id="deleteTaskMember">
        DELETE FROM member_project_task
        WHERE task_id = #{taskId} AND
        <foreach collection="projectMemberIds" item="projectMemberId" separator="OR" open="(" close=")">
            member_project_id = #{projectMemberId}
        </foreach>
    </delete>

    <select id="findTaskMembers">
        SELECT mp.member_project_id, mp.status, m.member_id, m.profile_image, m.name
        FROM member_project_task mpt
                 JOIN member_project mp ON mpt.member_project_id = mp.member_project_id
                 JOIN member m ON m.member_id = mp.member_id
                 JOIN task t on t.task_id = mpt.task_id
        WHERE mpt.task_id = #{taskId} AND t.is_deleted IS NULL;
    </select>
</mapper>