<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.member.mapper.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="memberId">
        insert into member (email, password, name,created_at,modified_at,is_deleted,intro,profile_image)
        values (#{email}, #{password}, #{name},#{createdAt},#{modifiedAt},#{isDeleted},#{intro},#{profileImage})
    </insert>

    <update id="updateProfile">
        update member
        set name=#{profileDto.name},
            intro=#{profileDto.intro},
            profile_image=#{profileDto.profileImage},
            modified_at=#{modifiedAt}
        where member_id = #{memberId}
    </update>

    <update id="updatePassword">
        update member
        set password=#{password},
            modified_at=#{modifiedAt}
        where member_id = #{memberId}
    </update>

    <update id="updateDeleted">
        update member
        set is_deleted=true,
            modified_at=#{modifiedAt}
        where member_id = #{memberId}
    </update>

    <select id="findById" resultType="Member">
        select member_id, email, password, name, created_at,modified_at, profile_image, intro, is_deleted
        from member
        where member_id = #{memberId} and is_deleted = false
    </select>

    <select id="findByEmail" resultType="Member">
        select member_id, email, password, name, created_at,modified_at, profile_image, intro, is_deleted
        from member
        where email = #{email} and is_deleted = false
    </select>

    <select id="getMemberList" resultType="Member">
        select * from member
        where member_id in
        <foreach collection="memberIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach> and is_Deleted = false;
    </select>


</mapper>