<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.project.repository.ProjectMybatisMapper">
    <insert id="createProject" useGeneratedKeys="true" keyProperty="projectId" >
        insert into project (name, intro, created_at, start_date, end_date, modified_at, progress, publicyn, project_image)
        values (#{name}, #{intro}, #{createdAt}, #{startDate}, #{endDate}, #{createdAt}, 0, #{publicyn}, #{projectImage})
    </insert>

    <update id="updateProject">
        update project
        set name=#{name},
            intro=#{intro},
            start_date=#{startDate},
            end_date=#{endDate},
            modified_at=#{modifiedAt},
            publicyn=#{publicyn},
            project_image=#{projectImage}
        where project_id=#{projectId} and is_deleted is null

    </update>

    <select id="findProjectById" resultType="com.douzone.prosync.project.entity.Project">
        select * from project
        where project_id=#{projectId} and is_deleted is null

    </select>

    <select id="findAllProjects" resultType="com.douzone.prosync.project.entity.Project">
        SELECT *
        FROM project
        WHERE
            is_deleted IS NULL
    </select>

    <update id="deleteProject">
        update project
        set is_deleted=true
        where project_id=#{projectId} and is_deleted is null
    </update>
</mapper>