<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.prosync.bookmark.mapper.BookmarkMapper">

    <insert id="bookMarkCheck">
        insert into bookmark (project_id, member_id)
        values (#{projectId}, #{memberId})
    </insert>

    <delete id="bookMarkRemove">
        delete from bookmark
        where project_id=#{projectId} and member_id=#{memberId}
    </delete>

    <select id="findAll">
        select b.bookmark_id, p.project_id, p.title, p.created_at, p.project_image, p.start_date, p.end_date, m.name
        from bookmark b
        inner join project p on b.project_id = p.project_id
        join member m on b.member_id = m.member_id
        where b.member_id = #{memberId}
        order by project_id desc
    </select>

    <select id="findById">
        select b.*
        from bookmark b
        inner join project p on b.project_id = p.project_id
        where b.project_id = #{projectId} and b.member_id=#{memberId}
    </select>

    <select id="duplicateBookmark" resultType="int">
        select COUNT(b.project_id)
        from bookmark b
        inner join project p on b.project_id = p.project_id
        where b.project_id =#{projectId} and b.member_id=#{memberId}
    </select>
</mapper>